/*---------------LAYOUT----------------*/
.main-container{
    display: flex;
    width: 1200px;
    font-family: 'Lato', sans-serif;
    justify-content: space-between;
    
}
/*---------------GENERAL---------------*/
ul{
    list-style: none;
}
.clear{
clear: both;
}
h1, h2, h3,h4{
    text-transform: uppercase;
}
.titulo{
    font-family: 'Josefin Sans', sans-serif;
}

/*---------------MAIN------------------*/
main{
    flex-basis: 60%;

}
main section h2 {
    text-transform:uppercase;
    letter-spacing: 3px;
}
.hero{
    background-color: #FF686B;
    box-shadow: 1px 1px 30px 1px #474747 inset;
    padding: 15% 0%;
    text-align: center;

    
}
.hero h1{
    letter-spacing: 5px;
}
.hero h2{
    color: white;
    border-top: 5px solid white;
    text-transform: uppercase;
    letter-spacing: 5px;
}
/*------------------ABOUTME----------------*/
.aboutme p{
    line-height: 2em;
    background-color: #FFA69E;
    padding: 10px;
}
article h3,
article h4{
    font-weight:bold ;
}
article ul{
    list-style-type: square;
}
/*---------------ASIDE-----------------*/
.foto {
    border-radius: 50%;
    width: 100%; 
}
aside{
    background-color: #84DCC6;
    flex-basis: 25%;
    font-family: 'Lato', sans-serif;
}
aside *{
    color: white;    
}
aside h2{
    text-transform: uppercase;
    letter-spacing: 3px;
}
aside section h2:first-child{
    border-bottom: 5px solid white;
}
/*------------ REFERENCES---------------*/
.references{
    display: flex;
    flex-wrap: wrap;
}
.references article {
    width: 35%;
    background-color: #FFA69E;
    text-align:center;
}
/*----------------- DL -----------------*/
dt:last-of-type,
dd:last-of-type{
    border-bottom:1px solid white; 
}
dd,dt{
    line-height: 2em;
    border-top: 1px solid white;
}
dl{
    display: flex;
    flex-wrap: wrap;
}
dt,
dd{
    flex-basis:40% ;
    margin:0 ;
}
dt{
    font-weight: bolder;
}
/*--------------METER---------------*/
meter{
    display: block;
    width:80%; 
    padding-top: 2px;
}
meter::-webkit-meter-optimum-value{
    background: none;
    background-color: #FFA69E;
}